@font-face {
  font-family: "NIMBUS";
  src: url(/fonts/TAN-NIMBUS.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NIMBUS";
  src: url(/fonts/TAN-NIMBUS.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@keyframes reolad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moverpuntolog {
  0% {
    transform: translateX(0);
  }
  49% {
    transform: translateX(300%) translateY(-110%);
  }
  50% {
    transform: translateX(300%) translateY(-110%);
  }
  100% {
    transform: translateX(0);
    z-index: 1003;
  }
}
#loader {
  width: 100vw;
  height: 100vh;
  background-color: #ec6223;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 10000;
}
#loader #pizza_loader {
  width: 7rem;
  height: 7rem;
  animation: reolad 2s infinite ease-in-out;
}
#loader #pizza_loader img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  #loader #pizza_loader {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-width: 500px) {
  #loader #pizza_loader {
    width: 4rem;
    height: 4rem;
  }
}
@font-face {
  font-family: "NIMBUS";
  src: url(/fonts/TAN-NIMBUS.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@keyframes reolad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moverpuntolog {
  0% {
    transform: translateX(0);
  }
  49% {
    transform: translateX(300%) translateY(-110%);
  }
  50% {
    transform: translateX(300%) translateY(-110%);
  }
  100% {
    transform: translateX(0);
    z-index: 1003;
  }
}
@font-face {
  font-family: "NIMBUS";
  src: url(/fonts/TAN-NIMBUS.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
html {
  box-sizing: border-box;
}

.c-cursor {
  --size: 15px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
  pointer-events: none;
  transition: none;
  z-index: 150000;
  will-change: transform;
}
.is-debug .c-cursor {
  transition: all 0.2s ease-in-out;
}
.c-cursor__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #174891;
  border: 1px solid #ffffff;
  transition: all 0.15s ease-in-out;
  opacity: 1;
  transform: scale(1) translateZ(0);
}
.c-cursor.is-clicked .c-cursor__inner {
  opacity: 0.5;
}
.c-cursor.is-hidden .c-cursor__inner {
  opacity: 0;
}
.c-cursor.is-link-hovered .c-cursor__inner {
  transform: scale(0.75) translateZ(0);
  background-color: #0f3061;
}

.has-custom-cursor,
.has-custom-cursor * {
  cursor: none !important;
}

@font-face {
  font-family: "NIMBUS";
  src: url(/fonts/TAN-NIMBUS.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
body #regreso {
  width: 2.5%;
  aspect-ratio: 2/2;
  top: 1vh;
  left: 0;
  margin: 2%;
  display: flex;
  position: fixed;
  transition: all 0.1s ease-in-out;
}
body #regreso a {
  width: 100%;
  height: 100%;
}
body #regreso a img {
  width: 100%;
  height: 100%;
}
body #regreso:hover {
  opacity: 50%;
  scale: 0.9;
}
body .alertasgame {
  top: 5vh;
  left: 450vw;
  width: 4vw;
  height: 4vw;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001;
}
body .alertasgame .alertagame {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f18f62;
  border: 2px solid #f18f62;
  box-shadow: 0px 0px 10px 0px #f18f62;
  border-radius: 5rem;
  animation: fadeInDown 0.2s ease-in-out forwards;
}
body .alertasgame .alertagame span {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .alertasgame .alertagame span img {
  width: 100%;
  height: 100%;
}
body canvas {
  border-radius: 0.5vw;
  border: 0.3vw solid #ffffff;
  box-shadow: 0px 0px 20px 0px #ffffff;
  display: flex;
  padding: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 500px) {
  body #regreso {
    width: 8vw;
    margin: 8%;
  }
  body .alertasgame {
    top: 5vh;
    left: 42.5vw;
    width: 15vw;
    height: 15vw;
  }
}

@font-face {
  font-family: "NIMBUS";
  src: url(/fonts/TAN-NIMBUS.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
.chatbot {
  position: fixed;
  animation: backInRight 1.5s ease-in-out forwards;
  bottom: 0;
  right: 0;
  margin: 2%;
  display: none;
  z-index: 9999;
  width: 4vw;
  aspect-ratio: 2/2;
  height: auto;
  border-radius: 100%;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #ec6223;
}
.chatbot .chat_header {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ec6223;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatbot .chat_header .chat_icon {
  display: none;
}
.chatbot .chat_header .chat_present {
  display: none;
}
.chatbot .chat_header .chat_min {
  width: 100%;
  height: 100%;
  margin: none;
  background-color: #ec6223;
  aspect-ratio: 2/2;
  background-image: url("../img/Logos/interfaces/icons/charla.png");
  background-size: 45%;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
}
.chatbot .chat_header .chat_min:hover {
  background-color: #ec6223;
  box-shadow: 0px 0px 10px 5px #ec6223;
}
.chatbot .chat_box {
  display: none;
}
.chatbot hr {
  display: none;
}
.chatbot .chat_form {
  display: none;
}

.max_chat {
  position: fixed;
  width: 20vw;
  height: 70vh;
  bottom: 0;
  right: 0;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1.5vw;
  overflow-y: scroll;
  z-index: 9999;
  background-color: #ffffff;
}
.max_chat .chat_header {
  width: 90%;
  height: 10%;
  border-radius: 1.2vw;
  display: flex;
  margin-top: 6%;
  justify-content: space-between;
  align-items: center;
  background-color: #174891;
  box-shadow: 0px 0px 7px 4px #174891;
}
.max_chat .chat_header .chat_icon {
  width: 12%;
  aspect-ratio: 2/2;
  display: flex;
  margin-left: 4%;
  background-color: #1b3c59;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Utilidades/pavochava-removebg-preview.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
.max_chat .chat_header .chat_icon .status_green {
  width: 0.5vw;
  aspect-ratio: 2/2;
  background-color: #00bf63;
  border-radius: 100%;
  margin-top: 3.5vh;
  margin-left: 1.7vw;
  position: absolute;
}
.max_chat .chat_header .chat_present {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
}
.max_chat .chat_header .chat_present h3 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 0.8vw;
  font-weight: 100;
  color: #ffffff;
  font-family: "Nunito";
}
.max_chat .chat_header .chat_present p {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 0.5vw;
  font-weight: 100;
  color: #00bf63;
  font-family: "Nunito";
}
.max_chat .chat_header .chat_min {
  width: 6%;
  height: auto;
  margin-right: 6%;
  aspect-ratio: 2/2;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("../img/Logos/interfaces/icons/flecha-min.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  padding: 5%;
}
.max_chat .chat_header .chat_min:hover {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}
.max_chat .chat_box {
  width: 95%;
  height: 75%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  padding: 2%;
  justify-content: start;
  flex-direction: column;
  color: #174891;
  font-family: "Nunito";
  gap: 1vh;
}
.max_chat .chat_box .bot_message {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.5vh;
}
.max_chat .chat_box .bot_message span {
  width: auto;
  font-size: 0.5vw;
  margin-left: 1vw;
}
.max_chat .chat_box .bot_message p {
  width: auto;
  text-align: center;
  margin: 0;
  max-width: 70%;
  padding: 0;
  border: 2px solid #174891;
  padding: 3%;
  font-weight: 170;
  font-size: 0.7vw;
  border-radius: 1vw;
}
.max_chat .chat_box .bot_message p a {
  text-decoration: none;
  color: #ec6223;
}
.max_chat .chat_box .user_message {
  width: 90%;
  display: flex;
  justify-content: end;
}
.max_chat .chat_box .user_message p {
  text-align: center;
  margin: none;
  padding: none;
  max-width: 70%;
  border: 2px solid #174891;
  padding: 3%;
  font-weight: 170;
  font-size: 0.7vw;
  border-radius: 1vw;
}
.max_chat hr {
  display: flex;
  width: 90%;
  height: 1px;
  border-radius: 1vw;
  background-color: #174891;
  padding: 0;
  margin: 0;
}
.max_chat .chat_form {
  width: 90%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.max_chat .chat_form .chat_input {
  width: 80%;
  height: 90%;
  color: #1b3c59;
  font-family: "Nunito";
  border: none;
}
.max_chat .chat_form .chat_input::-moz-placeholder {
  color: #1b3c59;
}
.max_chat .chat_form .chat_input::placeholder {
  color: #1b3c59;
}
.max_chat .chat_form .chat_input:focus {
  border: none;
  outline: none;
}
.max_chat .chat_form .chat_submit {
  width: 7%;
  aspect-ratio: 2/2;
  display: none;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #0f3061;
  color: #ffffff;
  font-family: "Nunito";
  font-size: 1.5vw;
  border-radius: 100%;
  cursor: pointer;
}
.max_chat .chat_form .chat_submit img {
  height: 100%;
}

.agregar_dis {
  display: flex;
}

@media screen and (max-width: 900px) {
  .chatbot {
    width: 10vw;
  }
  .max_chat {
    width: 70vw;
    height: 80vh;
    border-radius: 5vw;
  }
  .max_chat .chat_header {
    border-radius: 4vw;
    box-shadow: 0px 0px 9px 5px #1b3c59;
  }
  .max_chat .chat_header .chat_icon {
    background-color: #1b3c59;
  }
  .max_chat .chat_header .chat_icon .status_green {
    width: 2vw;
    margin-top: 4vh;
    margin-left: 6vw;
  }
  .max_chat .chat_header .chat_present {
    margin-right: 16vw;
  }
  .max_chat .chat_header .chat_present h3 {
    font-size: 3vw;
  }
  .max_chat .chat_header .chat_present p {
    font-size: 2vw;
  }
  .max_chat .chat_header .chat_min {
    width: 5%;
  }
  .max_chat .chat_header .chat_min:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  .max_chat .chat_box .bot_message span {
    font-size: 1.7vw;
  }
  .max_chat .chat_box .bot_message p {
    font-size: 2.3vw;
    border-radius: 3vw;
  }
  .max_chat .chat_box .user_message p {
    font-size: 2.3vw;
    border-radius: 3vw;
  }
}
@media screen and (max-width: 500px) {
  .chatbot {
    width: 15vw;
    margin: 5%;
  }
  .max_chat {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }
  .max_chat .chat_header {
    height: 8%;
    border-radius: 6vw;
    box-shadow: 0px 0px 10px 5px #174891;
  }
  .max_chat .chat_header .chat_icon {
    width: 14%;
    margin-left: 3%;
  }
  .max_chat .chat_header .chat_icon .status_green {
    width: 2.6vw;
    margin-top: 4.5vh;
    margin-left: 9vw;
  }
  .max_chat .chat_header .chat_present {
    margin-right: 30vw;
  }
  .max_chat .chat_header .chat_present h3 {
    font-size: 3.5vw;
  }
  .max_chat .chat_header .chat_present p {
    font-size: 2.5vw;
  }
  .max_chat .chat_header .chat_min {
    margin-right: 4%;
  }
  .max_chat .chat_header .chat_min:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0);
  }
  .max_chat .chat_box {
    height: 79%;
  }
  .max_chat .chat_box .bot_message span {
    font-size: 2.5vw;
    margin-left: 2vw;
  }
  .max_chat .chat_box .bot_message p {
    font-size: 3.5vw;
    border-radius: 4vw;
  }
  .max_chat .chat_box .user_message p {
    font-size: 3.5vw;
    border-radius: 4vw;
  }
  .max_chat .chat_form {
    height: 6%;
  }
  .max_chat .chat_form .chat_input {
    width: 80%;
    height: 90%;
  }
}
* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: #ec6223;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .alertas {
  top: 5vh;
  left: 18vw;
  width: 14vw;
  height: 4vw;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001;
}
body .alertas .alerta {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f18f62;
  border: 2px solid #f18f62;
  box-shadow: 0px 0px 10px 0px #f18f62;
  border-radius: 5rem;
  animation: fadeInDown 0.2s ease-in-out forwards;
}
body .alertas .alerta span {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .alertas .alerta span p {
  font-size: 0.8vw;
  color: #ffffff;
  text-align: center;
}
body .alertas_admin {
  top: 4.6vh;
  left: 7vw;
  width: 14vw;
  height: 4vw;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001;
}
body .alertas_admin .alerta_admin {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f18f62;
  border: 2px solid #f18f62;
  box-shadow: 0px 0px 10px 0px #f18f62;
  border-radius: 5rem;
  animation: fadeInDown 0.2s ease-in-out forwards;
}
body .alertas_admin .alerta_admin span {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .alertas_admin .alerta_admin span p {
  font-size: 0.8vw;
  color: #ffffff;
  text-align: center;
}
body .alertas_modal .alert_eliminacion_vacante {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10010;
  display: none;
}
body .alertas_modal .alert_eliminacion_vacante .alert_box {
  width: 20vw;
  height: 15vh;
  background-color: #ffffff;
  display: flex;
  font-family: "Nunito";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
  border-radius: 1rem;
  font-size: 1vw;
  text-align: center;
  color: #1b3c59;
}
body .alertas_modal .alert_eliminacion_vacante .alert_box .alert_btn_cont {
  display: flex;
  gap: 0.5vw;
}
body .alertas_modal .alert_eliminacion_vacante .alert_box .alert_btn_cont .alert-btn {
  padding: 10px 15px;
  border: none;
  font-size: 0.8vw;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.1s ease-in-out;
}
body .alertas_modal .alert_eliminacion_vacante .alert_box .alert_btn_cont .alert-btn:hover, body .alertas_modal .alert_eliminacion_vacante .alert_box .alert_btn_cont .alert-btn:focus {
  opacity: 50%;
  scale: 0.9;
}
body .alertas_modal .alert_eliminacion_vacante .alert_box .alert_btn_cont .alert-btn.confirm {
  background-color: #ec6223;
  color: white;
}
body .alertas_modal .alert_eliminacion_vacante .alert_box .alert_btn_cont .alert-btn.cancel {
  background-color: #174891;
  color: white;
}
body header {
  width: 20vw;
  height: 6vw;
  display: flex;
  background-color: #174891;
  border-radius: 5rem;
  position: fixed;
  z-index: 1000;
}
body header nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
body header nav ul .circulo_icon {
  width: 1vw;
  height: 1vw;
  background-color: #ffffff;
  border-radius: 100%;
  position: fixed;
  top: 50vh;
  left: 47.8vw;
  animation: moverpuntolog 3s ease-in-out infinite;
}
body header nav ul li {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav ul li button {
  height: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  z-index: 1002;
}
body header nav ul li button img {
  height: 100%;
}
body header nav ul li button:hover {
  opacity: 50%;
  scale: 0.9;
}
body header nav ul li .iconbutton {
  height: 85%;
}
body header nav ul li .iconbutton:hover {
  opacity: 100%;
  scale: 1;
}
body main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
body main .pages {
  width: 50%;
  height: 100%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  display: none;
}
body main #home {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
body main #home .mancha1 {
  width: 30%;
  display: flex;
  position: fixed;
  top: -8vh;
  left: -6vw;
  animation: fadeInDown 0.5s ease-in-out forwards;
}
body main #home .mancha1 a {
  width: 100%;
  height: 100%;
}
body main #home .mancha1 a img {
  width: 100%;
  height: 100%;
}
body main #home .mancha2 {
  width: 30%;
  display: flex;
  position: fixed;
  bottom: -17vh;
  right: -5vw;
  animation: fadeInUp 0.5s ease-in-out forwards;
}
body main #home .mancha2 img {
  width: 100%;
  height: 100%;
}
body main #pag1 {
  animation: bounceInLeft 0.5s ease-in-out forwards;
}
body main #pag1 article {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #pag1 article .texto_form {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #pag1 article .texto_form h1 {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 3vh;
  margin: 0;
  letter-spacing: 0.1rem;
  font-family: "NIMBUS";
}
body main #pag1 article .texto_form p {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 2vh;
  margin: 1%;
  letter-spacing: 0.1rem;
  font-family: "Nunito";
}
body main #pag1 article .cont_form {
  height: 40%;
  aspect-ratio: 1.2/1;
  border: 0;
  margin: 2%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
}
body main #pag1 article .cont_form form {
  width: 95%;
  height: 95%;
  border: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 2%;
}
body main #pag1 article .cont_form form .cont_inputform {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
}
body main #pag1 article .cont_form form .cont_inputform .input-form {
  width: 100%;
  height: 7.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
}
body main #pag1 article .cont_form form .cont_inputform .input-form .input {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background-color: #ffffff;
  outline: none;
  border: 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
body main #pag1 article .cont_form form .cont_inputform .input-form .input:focus {
  border: 0;
  outline: none;
  border: 2px solid #0f3061;
  box-shadow: 0px 0px 10px 0px #0f3061;
  background: #0f3061;
  color: #ffffff;
}
body main #pag1 article .cont_form form .cont_inputform .input-form .input::-moz-placeholder {
  color: #0d0d0d;
}
body main #pag1 article .cont_form form .cont_inputform .input-form .input::placeholder {
  color: #0d0d0d;
}
body main #pag1 article .cont_form form .cont_inputform .input-form .input:focus::-moz-placeholder {
  color: #ffffff;
}
body main #pag1 article .cont_form form .cont_inputform .input-form .input:focus::placeholder {
  color: #ffffff;
}
body main #pag1 article .cont_form form .cont_inputform .input-form .input:focus ~ label {
  scale: 1;
  opacity: 100%;
  transition: all 0.2s ease-in-out;
}
body main #pag1 article .cont_form form .cont_inputform .input-form label {
  scale: 0;
  opacity: 0;
  top: 20vh;
  left: 14vw;
  width: 20vw;
  height: 4vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f18f62;
  transition: all 0.2s ease-in-out;
  border-radius: 5rem;
  box-shadow: 0px 0px 10px 0px #f18f62;
}
body main #pag1 article .cont_form form .cont_inputform .input-form label span {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #pag1 article .cont_form form .cont_inputform .input-form label span p {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1rem;
}
body main #pag1 article .cont_form form .exito_form {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
body main #pag1 article .cont_form form .exito_form img {
  width: 40%;
}
body main #pag1 article .cont_form form .input-nex {
  display: none;
}
body main #pag1 article .cont_form form .input-submit {
  display: none;
}
body main #pag1 article .cont_form::-webkit-scrollbar {
  width: 12px;
}
body main #pag1 article .cont_form::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 1rem;
}
body main #pag1 article .cont_form::-webkit-scrollbar-thumb {
  background-color: #ec6223;
  border-radius: 1rem;
  border: 3px solid #ffffff;
}
body main #pag1 article label {
  width: 2.2vw;
  aspect-ratio: 2/2;
  margin: 2%;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}
body main #pag1 article label img {
  width: 100%;
  height: 100%;
}
body main #pag1 article label:hover {
  opacity: 50%;
  scale: 0.9;
}
body main #pag2 {
  animation: bounceInLeft 0.5s ease-in-out forwards;
}
body main #pag2 .Logincont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #pag2 .Logincont .Login-cont {
  width: 20rem;
  aspect-ratio: 2/2;
  border-radius: 2rem;
  background-color: #174891;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #pag2 .Logincont .Login-cont .Login-son {
  width: 100%;
  height: 100%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .wel {
  flex-direction: column;
  text-align: center;
  margin-bottom: 1vh;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .wel h3 {
  width: 100%;
  color: #ffffff;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NIMBUS";
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .wel h3 span {
  color: #ffffff;
  letter-spacing: 0.1rem;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
  width: 80%;
  height: 3.5rem;
  font-family: "Nunito";
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field input::-webkit-inner-spin-button,
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field input[type=number] {
  -moz-appearance: textfield;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field input {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  font-size: 17px;
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  outline: none;
  text-align: center;
  border: 2px solid #ffffff;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field input:focus {
  border: 2px solid #0f3061;
  box-shadow: 0px 0px 10px 0px #0f3061;
  background: #0f3061;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field input:focus ~ label,
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field input:valid ~ label {
  top: 0;
  font-size: 15px;
  padding: 0 6px;
  background: #ec6223;
  color: #ffffff;
  border-radius: 1rem;
  padding: 1% 3%;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 17px;
  pointer-events: none;
  transition: 0.3s;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-field label span {
  margin-left: 3px;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog .input-submit input {
  display: none;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog.activolog {
  display: flex;
}
body main #pag2 .Logincont .Login-cont .Login-son .formuariolog.animacionform {
  animation: bounceOutRight;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
body main #pag2 .Logincont .Login-cont .Login-son .error {
  width: 65%;
  height: 100%;
  padding: 15%;
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 94;
  animation: bounceInLeft;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
body main #pag2 .Logincont .Login-cont .Login-son .error #icon {
  width: 7rem;
  height: 7rem;
  margin-bottom: 15%;
}
body main #pag2 .Logincont .Login-cont .Login-son .error #icon img {
  width: 100%;
  height: 100%;
}
body main #pag2 .Logincont .Login-cont .Login-son .error h1 {
  width: 100%;
  text-align: center;
  font-size: 1.1vh;
  font-family: "NIMBUS";
  letter-spacing: 0.1rem;
  color: #ffffff;
}
body main #pag2 .Logincont .Login-cont .Login-son .error a {
  font-family: "Nunito";
  color: #ffffff;
  font-size: 1.2vh;
}
body main #pag2 .Logincont .Login-cont .Login-son .error.activolog {
  display: flex;
}
body main #pag2 .Logincont.animacionlog {
  animation: bounceOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
body main #pag3 {
  width: 100%;
  height: 100%;
}
body main #pag3 .btn_regreso {
  width: 2.5%;
  aspect-ratio: 2/2;
  top: 1vh;
  left: 0;
  margin: 2.5%;
  display: flex;
  position: fixed;
  transition: all 0.1s ease-in-out;
}
body main #pag3 .btn_regreso button {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #pag3 .btn_regreso button img {
  width: 100%;
  height: 100%;
}
body main #pag3 .btn_regreso:hover {
  opacity: 50%;
  scale: 0.9;
}
body main #pag3 .estatus_vacantes {
  top: 4.6vh;
  left: 7.5vw;
  width: 13vw;
  height: 4vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 1000;
  gap: 5%;
}
body main #pag3 .estatus_vacantes .icons_status {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #pag3 .estatus_vacantes .icons_status input {
  display: none;
}
body main #pag3 .estatus_vacantes .icons_status input:checked ~ label {
  opacity: 50%;
  scale: 0.9;
  display: flex;
}
body main #pag3 .estatus_vacantes .icons_status input:checked ~ .status_info {
  visibility: visible;
  animation: bounceInDown 0.2s ease-in-out forwards;
}
body main #pag3 .estatus_vacantes .icons_status label {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 10rem;
  transition: all 0.2s ease-in-out;
}
body main #pag3 .estatus_vacantes .icons_status #label_status1 {
  background-color: #ff3131;
}
body main #pag3 .estatus_vacantes .icons_status #label_status2 {
  background-color: #FFD700;
}
body main #pag3 .estatus_vacantes .icons_status #label_status3 {
  background-color: #00bf63;
}
body main #pag3 .estatus_vacantes .icons_status .status_info {
  position: fixed;
  display: flex;
  visibility: hidden;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 16vw;
  height: 40vh;
  top: 15vh;
  border-radius: 1.2vw;
  text-align: center;
  color: #ffffff;
  font-family: "Nunito";
  font-size: 0.7vw;
  padding: 0.5vw;
  background-color: #1b3c59;
  box-shadow: 0px 0px 10px 0px #1b3c59;
  gap: 1.5vh;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .box_status {
  width: 95%;
  height: 5%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .box_status p {
  font-size: 1.5vh;
  font-family: "Nunito";
}
body main #pag3 .estatus_vacantes .icons_status .status_info .box_status1 {
  background-color: #ff3131;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .box_status2 {
  background-color: #FFD700;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .box_status3 {
  background-color: #00bf63;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 1.5vh;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1.5vh;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron {
  width: 95%;
  height: 5vh;
  display: flex;
  background-color: #ffffff;
  border-radius: 0.5vw;
  justify-content: center;
  border: none;
  overflow-y: hidden;
  align-items: center;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-descargar-pdf {
  border-radius: 5rem;
  width: 1%;
  height: 80%;
  border: none;
  background-color: #ec6223;
  transition: all 0.2s ease-in-out;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-descargar-pdf:hover {
  opacity: 50%;
  scale: 0.9;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .vacante_info {
  width: 80%;
  height: 100%;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .vacante_info span {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2vh;
  color: #0f3061;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .vacante_info span strong {
  font-size: 1.4vh;
  color: #0f3061;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container {
  width: 15%;
  height: 100%;
  display: grid;
  border: none;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  flex-direction: column;
  gap: 0.1vw;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container button {
  border-radius: 5rem;
  width: 1vw;
  aspect-ratio: 2/2;
  border: none;
  transition: all 0.2s ease-in-out;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container button:hover {
  opacity: 50%;
  scale: 0.9;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container .btn-noAsistieron {
  background-color: #ff3131;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container .btn-asistieron {
  background-color: #FFD700;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container .btn-contratado {
  background-color: #00bf63;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container .btn-eliminar {
  background-image: url("../img/Logos/interfaces/icons/cerrar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron:focus {
  overflow-y: scroll;
  height: auto;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron:focus .vacante_info {
  width: 95%;
  grid-template-columns: repeat(3, 1fr);
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron:focus .btn-container {
  display: none;
}
body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron:focus .btn-descargar-pdf {
  display: none;
}
body main #pag3 .admin_cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
  gap: 2%;
}
body main #pag3 .admin_cont .cont_rechazados {
  width: 20vw;
  height: 80vh;
  display: flex;
  border-radius: 1.2vw;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #1b3c59;
  box-shadow: 0px 0px 10px 0px #1b3c59;
  margin-top: 15vh;
  gap: 1.5vh;
}
body main #pag3 .admin_cont .cont_rechazados .box_red {
  width: 96%;
  height: 3vh;
  margin-top: 1vh;
  background-color: #ff3131;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #pag3 .admin_cont .cont_rechazados .const_data {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 1rem;
  color: #ffffff;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5vh;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1.5vh;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred {
  width: 95%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  gap: 5%;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-descargar-pdf {
  border-radius: 5rem;
  width: 1%;
  height: 80%;
  border: none;
  background-color: #ec6223;
  transition: all 0.2s ease-in-out;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-descargar-pdf:hover {
  opacity: 50%;
  scale: 0.9;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .vacante_info {
  width: 87%;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 3%;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .vacante_info span {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6vw;
  color: #0f3061;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .vacante_info span strong {
  font-size: 0.7vw;
  color: #0f3061;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container {
  width: 12%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  gap: 0.1vw;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container button {
  border-radius: 5rem;
  width: 1vw;
  aspect-ratio: 2/2;
  border: none;
  transition: all 0.2s ease-in-out;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container button:hover {
  opacity: 50%;
  scale: 0.9;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container .btn-noAsistieron {
  background-color: #ff3131;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container .btn-asistieron {
  background-color: #FFD700;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container .btn-contratado {
  background-color: #00bf63;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container .btn-eliminar {
  background-image: url("../img/Logos/interfaces/icons/cerrar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus {
  height: 35vh;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus .btn-descargar-pdf {
  display: none;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus .vacante_info {
  width: 80%;
  height: 90%;
}
body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus .btn-container {
  display: none;
}
body main #pag3 .admin_cont .cont_aceptados {
  width: 74vw;
  height: 95vh;
  display: flex;
  border-radius: 1.2vw;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #1b3c59;
  box-shadow: 0px 0px 10px 0px #1b3c59;
  gap: 1.5vh;
}
body main #pag3 .admin_cont .cont_aceptados .box_green {
  width: 98%;
  height: 3vh;
  margin-top: 1vh;
  background-color: #00bf63;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #pag3 .admin_cont .cont_aceptados .const_data {
  width: 100%;
  height: 94%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 1.5rem;
  color: #ffffff;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5vh;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1.5vh;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen {
  width: 95%;
  height: 5vh;
  display: flex;
  background-color: #ffffff;
  border-radius: 0.6rem;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-descargar-pdf {
  border-radius: 5rem;
  width: 1%;
  height: 80%;
  border: none;
  background-color: #ec6223;
  transition: all 0.2s ease-in-out;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-descargar-pdf:hover {
  opacity: 50%;
  scale: 0.9;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .vacante_info {
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .vacante_info span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6vw;
  color: #0f3061;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .vacante_info span strong {
  font-size: 0.7vw;
  color: #0f3061;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container {
  width: 3%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  gap: 0.1vw;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container button {
  border-radius: 5rem;
  width: 1vw;
  aspect-ratio: 2/2;
  border: none;
  transition: all 0.2s ease-in-out;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container button:hover {
  opacity: 50%;
  scale: 0.9;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container .btn-noAsistieron {
  background-color: #ff3131;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container .btn-asistieron {
  background-color: #FFD700;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container .btn-contratado {
  background-color: #00bf63;
}
body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container .btn-eliminar {
  background-image: url("../img/Logos/interfaces/icons/cerrar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main aside {
  width: 50%;
  height: 100%;
  display: none;
  background-color: #174891;
  justify-items: center;
  align-items: center;
}
body main aside article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main aside article div {
  width: 50%;
  margin-top: 5%;
}
body main aside article div img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
body main aside article h2 {
  font-family: "NIMBUS";
  color: #ffffff;
  font-size: 3.2vh;
  letter-spacing: 0.3rem;
  text-align: center;
}
body main aside article p {
  width: 45%;
  padding: 0;
  margin: 0;
  font-family: "Nunito";
  color: #ffffff;
  font-size: 2.2vh;
  text-align: center;
}
body main .agregar_dis {
  display: flex;
}
body .cambiar_nav {
  top: 5vh;
  left: 18vw;
  width: 14vw;
  height: 4vw;
}
body .cambiar_nav nav ul .circulo_icon {
  width: 0.8vw;
  height: 0.8vw;
  top: 9.3vh;
  left: 23.3vw;
}
@media screen and (max-width: 900px) {
  body .alertas {
    top: 4vh;
    left: 35vw;
    width: 30vw;
    height: 10vw;
  }
  body .alertas .alerta span p {
    font-size: 2vw;
  }
  body .alertas_admin {
    top: 2.5vh;
    left: 35vw;
    width: 30vw;
    height: 10vw;
  }
  body .alertas_admin .alerta_admin span p {
    font-size: 2vw;
  }
  body .alertas_modal .alert_eliminacion_vacante .alert_box {
    width: 40vw;
    height: 15vh;
    font-size: 2.5vw;
  }
  body .alertas_modal .alert_eliminacion_vacante .alert_box .alert_btn_cont .alert-btn {
    font-size: 2vw;
  }
  body header {
    width: 50vw;
    height: 15vw;
  }
  body header nav ul .circulo_icon {
    width: 3vw;
    height: 3vw;
    top: 50vh;
    left: 44vw;
  }
  body main #home .mancha1 {
    width: 70%;
    top: -8vh;
    left: -15vw;
  }
  body main #home .mancha2 {
    width: 70%;
    bottom: -15vh;
    right: -20vw;
  }
  body main .pages {
    width: 100%;
  }
  body main #pag1 article .texto_form {
    width: 80%;
  }
  body main #pag1 article .texto_form h1 {
    font-size: 2.8vh;
  }
  body main #pag1 article .texto_form p {
    font-size: 1.7vh;
  }
  body main #pag1 article .cont_form {
    border-radius: 4vw;
  }
  body main #pag1 article .cont_form form .cont_inputform .input-form label {
    top: 23vh;
    left: 23vw;
    width: 50vw;
    height: 10vw;
  }
  body main #pag1 article .cont_form form .cont_inputform .input-form label span p {
    font-size: 2vw;
  }
  body main #pag1 article label {
    width: 5vw;
  }
  body main #pag2 .Logincont .Login-cont {
    width: 25rem;
  }
  body main #pag2 .Logincont.animacionlog {
    animation: bounceOutRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  body main #pag3 {
    width: 100%;
    height: 100%;
  }
  body main #pag3 .btn_regreso {
    width: 6vw;
  }
  body main #pag3 .estatus_vacantes {
    top: 3vh;
    left: 37vw;
    width: 25vw;
    height: 8vw;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info {
    width: 70vw;
    height: 50vh;
    top: 10vh;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron {
    border-radius: 1vw;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .vacante_info {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .vacante_info span {
    font-size: 1.2vh;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .vacante_info span strong {
    font-size: 1.4vh;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container {
    width: 8%;
    gap: 4%;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container button {
    width: 2.6vw;
  }
  body main #pag3 .admin_cont {
    flex-direction: column-reverse;
  }
  body main #pag3 .admin_cont .cont_rechazados {
    width: 90vw;
    height: 31vh;
    margin: 0;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred {
    overflow: hidden;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .vacante_info {
    width: 91%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .vacante_info span {
    font-size: 1.4vh;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .vacante_info span strong {
    font-size: 1.5vh;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container {
    width: 7%;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container button {
    width: 2.5vw;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus {
    height: 25vh;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus .btn-descargar-pdf {
    display: none;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus .vacante_info {
    width: 80%;
    height: 90%;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus .btn-container {
    display: none;
  }
  body main #pag3 .admin_cont .cont_aceptados {
    width: 90vw;
    height: 51vh;
    margin-top: 10vh;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen {
    overflow: hidden;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .vacante_info {
    width: 92%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .vacante_info span {
    font-size: 1.4vh;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .vacante_info span strong {
    font-size: 1.5vh;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container {
    width: 6%;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container button {
    width: 2.5vw;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen:focus {
    height: 20vh;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen:focus .btn-descargar-pdf {
    display: none;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen:focus .vacante_info {
    width: 80%;
    height: 90%;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen:focus .btn-container {
    display: none;
  }
  body main aside {
    width: 0;
    height: 0;
    display: none;
  }
  body main aside article {
    width: 0;
    height: 0;
  }
  body main aside article div {
    width: 0;
    height: 0;
  }
  body main aside article div img {
    width: 0;
    height: 0;
  }
  body main aside article h2 {
    width: 0;
    height: 0;
    font-size: 0;
  }
  body main aside article p {
    width: 0;
    height: 0;
    font-size: 0;
  }
  body .cambiar_nav {
    top: 4vh;
    left: 35vw;
    width: 30vw;
    height: 10vw;
  }
  body .cambiar_nav nav ul .circulo_icon {
    width: 2vw;
    height: 2vw;
    top: 8vh;
    left: 46vw;
  }
}
@media screen and (max-width: 500px) {
  body .alertas {
    top: 5vh;
    left: 25vw;
    width: 50vw;
    height: 15vw;
  }
  body .alertas .alerta span p {
    font-size: 3vw;
  }
  body .alertas_admin {
    top: 3.5vh;
    left: 25vw;
    width: 50vw;
    height: 15vw;
  }
  body .alertas_admin .alerta_admin span p {
    font-size: 3vw;
  }
  body .alertas_modal .alert_eliminacion_vacante .alert_box {
    width: 70vw;
    height: 15vh;
    font-size: 3.5vw;
  }
  body .alertas_modal .alert_eliminacion_vacante .alert_box .alert_btn_cont .alert-btn {
    font-size: 3vw;
  }
  body header {
    width: 65vw;
    height: 20vw;
  }
  body header nav ul .circulo_icon {
    width: 3.3vw;
    height: 3.3vw;
    top: 50vh;
    left: 43vw;
  }
  body main #home .mancha1 {
    width: 90%;
    top: -8vh;
    left: -23vw;
  }
  body main #home .mancha2 {
    width: 90%;
    bottom: -13vh;
    right: -23vw;
  }
  body main #pag1 article .texto_form {
    width: 90%;
  }
  body main #pag1 article .texto_form h1 {
    font-size: 3vh;
  }
  body main #pag1 article .texto_form p {
    font-size: 1.6vh;
  }
  body main #pag1 article .cont_form {
    border-radius: 7vw;
  }
  body main #pag1 article .cont_form form .cont_inputform .input-form label {
    top: 22vh;
    left: 10vw;
    width: 70vw;
    height: 15vw;
  }
  body main #pag1 article .cont_form form .cont_inputform .input-form label span p {
    font-size: 3vw;
  }
  body main #pag1 article label {
    width: 9vw;
    margin: 5%;
  }
  body main #pag2 .Logincont .Login-cont {
    width: 80vw;
  }
  body main #pag2 .Logincont.animacionlog {
    animation: bounceOutRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  body main #pag3 {
    width: 100%;
    height: 100%;
  }
  body main #pag3 .btn_regreso {
    width: 8vw;
    margin: 8%;
    top: 85h;
  }
  body main #pag3 .estatus_vacantes {
    top: 3vh;
    left: 27.5vw;
    width: 45vw;
    height: 15vw;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info {
    width: 65vw;
    height: 40vh;
    top: 12vh;
    border-radius: 1rem;
    background-color: #1b3c59;
    box-shadow: 0px 0px 10px 0px #ec6223;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .box_status {
    width: 97%;
    margin-top: 0.8vh;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status {
    font-size: 3vw;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron {
    border-radius: 0.5rem;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .vacante_info {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container {
    width: 15%;
  }
  body main #pag3 .estatus_vacantes .icons_status .status_info .data_status ul .vacante_asistieron .btn-container button {
    width: 4vw;
  }
  body main #pag3 .admin_cont {
    flex-direction: column-reverse;
  }
  body main #pag3 .admin_cont .cont_rechazados {
    width: 90vw;
    height: 30vh;
    border-radius: 1rem;
    margin: 0;
  }
  body main #pag3 .admin_cont .cont_rechazados .box_red {
    width: 96%;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data {
    font-size: 3vw;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred {
    justify-content: center;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .vacante_info {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container {
    width: 10%;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred .btn-container button {
    width: 4vw;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus {
    height: 25vh;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus .btn-descargar-pdf {
    display: none;
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus .vacante_info {
    width: 90%;
    height: 90%;
    grid-template-columns: repeat(4, 1fr);
  }
  body main #pag3 .admin_cont .cont_rechazados .const_data ul .vacante_itemred:focus .btn-container {
    display: none;
  }
  body main #pag3 .admin_cont .cont_aceptados {
    width: 90vw;
    height: 45vh;
    margin-top: 6vh;
    border-radius: 1rem;
  }
  body main #pag3 .admin_cont .cont_aceptados .box_green {
    width: 96%;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data {
    font-size: 3vw;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen {
    justify-content: center;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .vacante_info {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container {
    width: 10%;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen .btn-container button {
    width: 4vw;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen:focus {
    height: 25vh;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen:focus .btn-descargar-pdf {
    display: none;
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen:focus .vacante_info {
    width: 90%;
    height: 90%;
    grid-template-columns: repeat(4, 1fr);
  }
  body main #pag3 .admin_cont .cont_aceptados .const_data ul .vacante_itemgreen:focus .btn-container {
    display: none;
  }
  body .cambiar_nav {
    top: 5vh;
    left: 25vw;
    width: 50vw;
    height: 15vw;
  }
  body .cambiar_nav nav ul .circulo_icon {
    width: 2.8vw;
    height: 2.8vw;
    top: 8.5vh;
    left: 44vw;
  }
}/*# sourceMappingURL=style.css.map */