@import "variables";
//preloader
@keyframes reolad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moverpuntolog {
  0% {
    transform: translateX(0);
  }
  49% {
    transform: translateX(300%) translateY(-110%);
  }
  50% {
    transform: translateX(300%) translateY(-110%);
  }
  100% {
    transform: translateX(0);
    z-index: 1003;
  }
}
@keyframes pavo_saludo {
  0% {
    background-image: url("../img/Utilidades/pavo5.1.png");
  }
  49% {
    background-image: url("../img/Utilidades/pavo5.1.png");
  }
  50% {
    background-image: url("../img/Utilidades/pavo5.png");
  }
  100% {
    background-image: url("../img/Utilidades/pavo5.png");
  }
}
@keyframes btncita {
  0% {
    transform: translatey(300%);
  }
  100% {
    transform: translatey(0);
    opacity: 100;
  }
}
@keyframes btndescarga {
  0% {
    transform: translatey(-300%);
  }
  100% {
    transform: translatey(0);
    opacity: 100;
  }
}
