@import "variables";
@import "animaciones";

#loader {
  width: 100%;
  height: 100%;
  background-color: var(--tema-Fondo);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10000;
  #box {
    width: 50px;
    height: 50px;
    background: var(--tema-Resalte);
    animation: animate .5s linear infinite;
    border-radius: 3px;
  }
  #shadow { 
    width: 50px;
    height: 5px;
    background: var(--tema-Blanco);
    opacity: 0.1;
    margin-top: 15px;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
  }
}
@media screen and (max-width: 500px) {
  #loader {
    #box {
      width: 40px;
      height: 40px;
      border-radius: 3px;
    }
    #shadow { 
      width: 40px;
      height: 4px;
      margin-top: 15px;
    }
  }
}