@import "variables";
@import "animaciones";

@mixin cover {
  width: 100%;
  height: 100%;
}

@mixin opacity {
  opacity: 50%;
  scale: 0.9;
}
.chatbot {
  position: fixed;
  bottom: 3vh;
  right: 3vh; 
  display: flex;
  z-index: 9999;
  width: 3.7vw;
  aspect-ratio: 2/2;
  height: auto;
  border-radius: 100%;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: $Principal;
  box-shadow: 0 0 10px 5px $Principal;
  overflow: hidden;
  .chat_header {
    @include cover;
    justify-content: center;
    align-items: center;
    background-color: $Principal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .chat_icon {
      display: none;
    }
    .chat_present {
      display: none;
    }
    .chat_min {
      @include cover;
      margin: none;
      background-color: $Principal;
      aspect-ratio: 2/2;
      background-image: url("../img/Logos/interfaces/icons/mensajes.svg");
      background-size: 55%;
      background-position: center;
      border: none;
      background-repeat: no-repeat;
      padding: 5%;
    }
    .name_id {
      display: none;
    }
  }
  .chat_box {
    display: none;
  }
  hr {
    display: none;
  }
  .user_info_container {
    display: none;
    form {
      display: none;
      .input-form {
        display: none;
        .input {
          display: none;
        }
      }
      .start_chat_button {
        display: none;
      }
    }
  }
  .chat_form {
    display: none;
    .chat_input {
      display: none;
    }
    .chat_submit {
      display: none;
    }
  }
}
.max_chat {
  position: fixed;
  width: 20vw;
  height: 70vh;
  max-height: 700px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1.5vw;
  overflow-x: hidden;
  overflow-y: scroll;
  behavior: smooth;
  background-color: $Blanco;
  box-shadow: 0px 0px 15px 2px $Blanco;
  opacity: 1;
  visibility: visible;
  .chat_header {
    width: 90%;
    height: 10%;
    z-index: 10000;
    border-radius: 1.2vw;
    display: flex;
    margin-top: 6%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: $Secundario;
    box-shadow: 0px 0px 7px 4px $Secundario;
    .chat_icon {
      width: 12%;
      aspect-ratio: 2/2;
      display: flex;
      margin-left: 4%;
      background-color: $Box_admin;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../img/Utilidades/pavochava-removebg-preview.png");
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      .status_green {
        width: .6em;
        aspect-ratio: 2/2;
        border: 2px solid  $Secundario;
        background-color: $Green;
        border-radius: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
      }
    }
    .chat_present {
      display: flex;
      position: absolute;
      left: 20%;
      flex-direction: column;
      h3 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        font-size: 0.8vw;
        font-weight: 100;
        color: $Texto;
        font-family: $Letra2;
      }
      p {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        font-size: 0.5vw;
        font-weight: 100;
        color: $Green;
        font-family: $Letra2;
      }
    }
    .chat_min {
      width: 5%;
      height: auto;
      z-index: 9999;
      margin-right: 6%;
      aspect-ratio: 2/2;
      background-color: $Transparente;
      border: none;
      background-image: url("../img/Logos/interfaces/icons/flecha.svg");
      transform: rotate(90deg);
      background-size: 105%;
      border: 2px solid $Blanco;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 100%;
      padding: 5%;
    }
    .name_id {
      width: 30%;
      height: 2.5vh;
      background-color: $Resalte;
      box-shadow: 0px 0px 5px 2px $Resalte;
      border-radius: 1vw;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $Texto;
      font-family: $Letra2;
      font-size: 0.5vw;
      position: absolute;
      left: 35%;
      bottom: -15%;
    }
  }
  .chat_box {
    width: 95%;
    height: 75%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: start;
    flex-direction: column;
    color: $Secundario;
    font-family: $Letra2;
    gap: 1vh;
    p {
      font-weight: 170;
      font-size: 0.7vw;
    }
    .bot_message {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      gap: 0.5vh;
      span {
        width: auto;
        font-size: 0.5vw;
        margin-left: 1vw;
      }
      p {
        width: auto;
        text-align: center;
        margin: 0;
        max-width: 70%;
        padding: 0;
        border: 1.5px solid $Secundario;
        padding: 3%;
        font-weight: 170;
        font-size: 0.7vw;
        border-radius: 1vw;
        a {
          text-decoration: none;
          color: $Principal;
        }
      }
    }
    .user_message {
      width: 90%;
      display: flex;
      justify-content: end;
      p {
        text-align: center;
        margin: none;
        padding: none;
        max-width: 70%;
        border: 1.5px solid $Secundario;
        padding: 3%;
        font-weight: 170;
        font-size: 0.7vw;
        border-radius: 1vw;
      }
    }
  }
  hr {
    display: flex;
    width: 90%;
    height: 1px;
    border-radius: 1vw;
    background-color: $Secundario;
    padding: 0;
    margin: 0;
    border: none;
  }
  .user_info_container {
    @include cover;
    animation: fadeInUp 0.2s ease-in-out forwards;
    height: 50%;
    display: none;
    background-color: $Secundario;
    box-shadow: 0px 0px 5px 3px $Secundario;
    position: absolute;
    bottom: 0;
    border-radius: 4vw 4vw 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    form {
      @include cover;
      border: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7%;
      p {
        display: none;
      }
      .what_name {
        display: flex;
        font-size: 0.7vw;
        color: $Texto;
        font-family: $Letra1;
        margin: 0;
        padding: 0;
      }
      .input-form {
        width: 70%;
        height: 15%;
        min-height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $Letra2;

        .custom-select {
          position: relative;
          display: inline-block;
        }

        .input {
          width: 100%;
          height: 100%;
          border-radius: 5rem;
          background-color: $Texto;
          outline: none;
          border: 0;
          display: flex;
          color: $Box_admin;
          font-family: $Letra2;
          text-align: center;

          select {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            border: none;
          }

          .select-selected {
            cursor: pointer;
            position: relative;
            border-radius: 5rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: $Box_admin;
            outline: none;
            border: 0;

            &:focus {
              border: 0;
              outline: none;
              border: 2px solid $Resalte;
              box-shadow: 0px 0px 10px 0px $Resalte;
              background: $Resalte;
              color: $Texto;
            }
          }

          &:focus {
            border: 0;
            outline: none;
            border: 2px solid $Resalte;
            box-shadow: 0px 0px 10px 0px $Resalte;
            background: $Resalte;
            color: $Texto;

            .select-items {
              display: block;
            }
          }
        }

        .select-items {
          position: absolute;
          width: 100%;
          display: none;
          font-family: $Letra2;
          z-index: 99;
          top: 2vh;
          border-radius: 1.5rem 1.5rem 2rem 2rem;
          max-height: 20vh;
          overflow-y: scroll;
          border: 0;
          outline: none;
          border: 2px solid $Resalte;
          box-shadow: 0px 0px 10px 2px $Resalte;
          background: $Resalte;
          color: $Texto;

          div.disabled {
            color: gray;
            pointer-events: none;
          }

          div {
            padding: 1rem;
            cursor: pointer;
          }
        }

        .input::placeholder {
          color: $Box_admin;
        }

        .input:focus::placeholder {
          color: $Texto;
        }
      }
      .start_chat_button {
        border: 0;
        display: flex;
        font-size: 0.7vw;
        padding: 0.5vw;
        color: $Blanco;
        border-radius: 1vw;
        background-color: $Fondo;
        font-family: $Letra2;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $Resalte2;
          box-shadow: 0px 0px 10px 0px $Resalte2;
        }
      }
    }
  }
  .chat_form {
    width: 90%;
    height: 8%;
    display: none;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin-bottom: 0;
    .chat_input {
      width: 80%;
      height: 90%;
      display: flex;
      color: $Box_admin;
      font-family: $Letra2;
      border: none;
      &::placeholder {
        color: $Box_admin;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
    .chat_submit {
      width: 0%;
      aspect-ratio: 2/2;
      display: none;
      scale: 0;
      border: none;
      justify-content: center;
      align-items: center;
      background-color: $Resalte;
      color: $Texto;
      font-family: $Letra2;
      font-size: 1.5vw;
      border-radius: 100%;
      cursor: pointer;
      img {
        height: 100%;
      }
    }
  }
}
.pavo_cont {
  width: 4vw;
  height: 8vh;
  display: flex;
  position: fixed;
  animation: pavo_moving 5s ease-in-out infinite;
  right: 19vw;
  bottom: 0;
  z-index: 9998;
  .pavo_msj {
    width: 10vw;
    height: 1.5vh;
    position: absolute;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -4.5vw;
    bottom: 11vh;
    border-radius: 2vw;
    font-size: 0.6vw;
    font-family: $Letra2;
    background-color: $Resalte;
    color: $Texto;
    text-align: center;
  }
  .pavo {
    @include cover;
    img {
      @include cover;
      animation: pavo_rotate 5s ease-in-out infinite;
    }
  }
}
.agregar_dis {
  display: flex;
}

@media screen and (max-width: 500px) {
  .chatbot {
    width: 13vw;
    margin: 5%;
    top: auto;
    bottom: 3vw;
    right: 3vw; 
    transform: scale(1); // Asegurar escala normal
    .chat_header {
      .chat_min {
        background-size: 55%; // Tamaño fijo para el ícono
        transform: scale(1); // Evitar agrandamiento
      }
    }
  }
  .max_chat {
    width: 100vw;
    height: 100%;
    max-height: 100%;
    margin: 0;
    border-radius: 0;
    position: absolute; 
    top: 0;
    right: 0;
    bottom: auto;
    transform: none;
    .chat_header {
      height: 8%;
      min-height: 4rem;
      border-radius: 7vw;
      box-shadow: 0px 0px 10px 5px $Secundario;
      .chat_icon {
        width: 14%;
        margin-left: 3%;
      }
      .chat_present {
        left: 25%;
        h3 {
          font-size: 3.5vw;
        }
        p {
          font-size: 2.5vw;
        }
      }
      .chat_min {
        transform: rotate(90deg);
        background-size: 105%;
      }
      .name_id {
        border-radius: 3vw;
        font-size: 2.5vw;
        min-height: 1rem;
      }
    }
    .chat_box {
      height: 79%;
      p {
        font-size: 3.5vw;
      }
      .bot_message {
        span {
          font-size: 2.5vw;
          margin-left: 2vw;
        }
        p {
          font-size: 3.5vw;
          border-radius: 4vw;
        }
      }
      .user_message {
        p {
          font-size: 3.5vw;
          border-radius: 4vw;
        }
      }
    }
    .user_info_container {
      box-shadow: 0px 0px 10px 5px $Box_admin;
      border-radius: 8vw 8vw 0 0;
      min-height: 10rem;
      form {
        .what_name {
          font-size: 4vw;
        }
        .start_chat_button {
          padding: 2vw;
          border-radius: 1.5vw;
          font-size: 3vw;
        }
      }
    }
    .chat_form {
      height: 6%;
      min-height: 3rem;
      .chat_input {
        width: 80%;
        height: 90%;
      }
    }
  }
  .pavo_cont {
    width: 15vw;
    right: 74vw;
    .pavo_msj {
      width: 37vw;
      padding: 0.8rem;
      left: -10vw;
      bottom: 9vh;
      border-radius: 5vw;
      font-size: 2.3vw;
    }
  }
  .chatbot_color {
    background-color: $Secundario;
    box-shadow: 0px 0px 10px 5px $Secundario;
    .chat_header {
      background-color: $Secundario;
      .chat_min {
        background-color: $Secundario;
      }
    }
  }
}

@media screen and (max-height: 580px) {
  .pavo_cont {
    display: none;
    animation: none;
    .pavo_msj {
      display: none;
    }
    .pavo {
      display: none;
    }
  }
}
