@import "variables";

@mixin cover {
  width: 100%;
  height: 100%;
}

@mixin opacity {
  opacity: 50%;
  scale: 0.9;
}
.chatbot {
  position: fixed;
  animation: backInRight 1.5s ease-in-out forwards;
  bottom: 0;
  right: 0;
  margin: 2%;
  display: none;
  z-index: 9999;
  width: 4vw;
  aspect-ratio: 2/2;
  height: auto;
  border-radius: 100%;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: $Principal;
  .chat_header {
    @include cover;
    justify-content: center;
    align-items: center;
    background-color: $Principal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .chat_icon {
      display: none;
    }
    .chat_present {
      display: none;
    }
    .chat_min {
      @include cover;
      margin: none;
      background-color: $Principal;
      aspect-ratio: 2/2;
      background-image: url("../img/Logos/interfaces/icons/charla.png");
      background-size: 45%;
      background-position: center;
      border: none;
      background-repeat: no-repeat;
      &:hover {
        background-color: $Principal;
        box-shadow: 0px 0px 10px 5px $Principal;
      }
    }
  }
  .chat_box {
    display: none;
  }
  hr {
    display: none;
  }
  .chat_form {
    display: none;
  }
}
.max_chat {
  position: fixed;
  width: 20vw;
  height: 70vh;
  bottom: 0;
  right: 0;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1.5vw;
  overflow-y: scroll;
  z-index: 9999;
  background-color: $Blanco;
  .chat_header {
    width: 90%;
    height: 10%;
    border-radius: 1.2vw;
    display: flex;
    margin-top: 6%;
    justify-content: space-between;
    align-items: center;
    background-color: $Secundario;
    box-shadow: 0px 0px 7px 4px $Secundario;
    .chat_icon {
      width: 12%;
      aspect-ratio: 2/2;
      display: flex;
      margin-left: 4%;
      background-color: $Box_admin;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../img/Utilidades/pavochava-removebg-preview.png");
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
      .status_green {
        width: .5vw;
        aspect-ratio: 2/2;
        background-color: $Green;
        border-radius: 100%;
        margin-top: 3.5vh;
        margin-left: 1.7vw;
        position: absolute;
      }
    }
    .chat_present {
      display: flex;
      flex-direction: column;
      margin-right: 5vw;
      h3 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        font-size: 0.8vw;
        font-weight: 100;
        color: $Texto;
        font-family: $Letra2;
      }
      p {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        font-size: 0.5vw;
        font-weight: 100;
        color: $Green;
        font-family: $Letra2;
      }
    }
    .chat_min {
      width: 6%;
      height: auto;
      margin-right: 6%;
      aspect-ratio: 2/2;
      background-color: $Transparente;
      border: none;
      background-image: url("../img/Logos/interfaces/icons/flecha-min.png");
      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 100%;
      padding: 5%;
      &:hover {
        background-color: $Transparente;
        box-shadow: none;
      }
    }
  }
  .chat_box {
    width: 95%;
    height: 75%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: start;
    flex-direction: column;
    color: $Secundario;
    font-family: $Letra2;
    gap: 1vh;
    .bot_message {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      gap: .5vh;
      span {
        width: auto;
        font-size: .5vw;
        margin-left: 1vw;
      }
      p {
        width: auto;
        text-align: center;
        margin: 0;
        max-width: 70%;
        padding: 0;
        border: 2px solid $Secundario;
        padding: 3%;
        font-weight: 170;
        font-size: .7vw;
        border-radius: 1vw;
        a {
          text-decoration: none;
          color: $Principal;
        }
      }
    }
    .user_message {
      width: 90%;
      display: flex;
      justify-content: end;
      p {
        text-align: center;
        margin: none;
        padding: none;
        max-width: 70%;
        border: 2px solid $Secundario;
        padding: 3%;
        font-weight: 170;
        font-size: .7vw;
        border-radius: 1vw;
      }
    }
  }
  hr {
    display: flex;
    width: 90%;
    height: 1px;
    border-radius: 1vw;
    background-color: $Secundario;
    padding: 0;
    margin: 0;
  }
  .chat_form {
    width: 90%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    .chat_input {
      width: 80%;
      height: 90%;
      color: $Box_admin;
      font-family: $Letra2;
      border: none;
      &::placeholder {
        color: $Box_admin;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
    .chat_submit {
      width: 7%;
      aspect-ratio: 2/2;
      display: none;
      border: none;
      justify-content: center;
      align-items: center;
      background-color: $Resalte;
      color: $Texto;
      font-family: $Letra2;
      font-size: 1.5vw;
      border-radius: 100%;
      cursor: pointer;
      img {
        height: 100%;
      }
    }
  }
}
.agregar_dis {
  display: flex;
}

@media screen and (max-width: 900px) {
  .chatbot {
    width: 10vw;
  }
  .max_chat {
    width: 70vw;
    height: 80vh;
    border-radius: 5vw;
    .chat_header {
      border-radius: 4vw;
      box-shadow: 0px 0px 9px 5px $Box_admin;
      .chat_icon {
        background-color: $Box_admin;
        .status_green {
          width: 2vw;
          margin-top: 4vh;
          margin-left: 6vw;
        }
      }
      .chat_present {
        margin-right: 16vw;
        h3 {
          font-size: 3vw;
        }
        p {
          font-size: 2vw;
        }
      }
      .chat_min {
        width: 5%;
        &:hover {
          background-color: $Transparente;
          box-shadow: none;
        }
      }
    }
    .chat_box {
      .bot_message {
        span {
          font-size: 1.7vw;
        }
        p {
          font-size: 2.3vw;
          border-radius: 3vw;
        }
      }
      .user_message {
        p {
          font-size: 2.3vw;
          border-radius: 3vw;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .chatbot {
    width: 15vw;
    margin: 5%;
  }
  .max_chat {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    .chat_header {
      height: 8%;
      border-radius: 6vw;
      box-shadow: 0px 0px 10px 5px $Secundario;
      .chat_icon {
        width: 14%;
        margin-left: 3%;
        .status_green {
          width: 2.6vw;
          margin-top: 4.5vh;
          margin-left: 9vw;
        }
      }
      .chat_present {
        margin-right: 30vw;
        h3 {
          font-size: 3.5vw;
        }
        p {
          font-size: 2.5vw;
        }
      }
      .chat_min {
        margin-right: 4%;
        &:hover {
          background-color: $Transparente;
          box-shadow: 0px 0px 10px 5px $Transparente;
        }
      }
    }
    .chat_box {
      height: 79%;
      .bot_message {
        span {
          font-size: 2.5vw;
          margin-left: 2vw;
        }
        p {
          font-size: 3.5vw;
          border-radius: 4vw;
        }
      }
      .user_message {
        p {
          font-size: 3.5vw;
          border-radius: 4vw;
        }
      }
    }
    .chat_form {
      height: 6%;
      .chat_input {
        width: 80%;
        height: 90%;
      }
    }
  }
}