body {
    canvas {
        border-radius: .5vw;
        border: .3vw solid $Blanco;
        box-shadow: 0px 0px 20px 0px $Blanco;
        display: flex;
        padding: 0;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}