@import "variables";

body, 
html {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  background-color: var(--tema-Fondo);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;
  align-items: center;
    .status-container {
        width: 50vw;
        padding: 1vw;
        @include buttonneon;
        border-radius: 1vw;
        h1 {
            font-size: 2vw;
            margin: 0;
            padding: 0;
            font-family: var(--tema-Letra2);
            text-align: center;
            color: var(--tema-Texto);
        }
        .transfer-form {
            width: 100%;
            margin-top: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1vh;
            input[type="password"] {
                width: 40%;
                padding: 1vw;
                border-radius: 3vw;
                border: none;
                font-size: .7vw;
                font-family: var(--tema-Letra2);
                text-align: center;
                color: var(--tema-Texto);
                @include buttonneon;
                background-color: var(--tema-Fondo);
                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 5px 0px var(--tema-Fondo);
                }
                &::placeholder {
                   color: var(--tema-Texto);
                }
            }
            button {
                width: 20%;
                padding: 1vw;
                border-radius: 3vw;
                font-size: .7vw;
                border: none;
                font-family: var(--tema-Letra2);
                background-color: var(--tema-Resalte);
                text-align: center;
                color: var(--tema-Texto);
            }
        }
    }
    
    @media screen and (max-width: 500px) {
        .status-container {
            width: 90vw;
            border-radius: 4vw;
            gap: 1vh;
            h1 {
                font-size: 4vw;
            }
            .transfer-form {
                gap: 1vh;
                input[type="password"] {
                    width: 70%;
                    padding: 2vw;
                    border-radius: 4vw;
                    font-size: 4vw;
                }
                button {
                    width: 20%;
                    padding: 2vw; 
                    border-radius: 4vw;
                    font-size: 2.5vw;
                }
            }
        }
    }
}