//Colres
$Blanco: #ffffff;
$Negro: #0d0d0d;
$Gray: #B0BEC5;
$Green: #4CAF50; 
$Red: #F44336;
$Orange: #FFCA28;
$Azul: #2196F3;
$Transparente: rgba(0, 0, 0, 0);
//Colres DefaultColor 
    $Principal: #e36b2f;
    $Secundario: #2a4e91;
    $Resalte: #2d3f66;
    $Resalte2: #f3a078;
    $Resalte3: #5b84c4;
    $Box_admin: #2a4566;
    $Box_admin2: #1c2e44;
    $Fondo: #e36b2f; 
    $Texto: #ffffff;
    
///ipos de letra
@font-face {
    font-family: 'NIMBUS';
    src: url(/fonts/TAN-NIMBUS.ttf);
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito-Regular.ttf);
    font-style: normal;
    font-weight: normal;
  }

//Letra
$Letra1: 'NIMBUS';
$Letra2: 'Nunito';
