
// Fuentes locales
@font-face {
  font-family: 'BungeeShade';
  src: url(/fonts/BungeeShade.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url(/fonts/Nunito-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

// Mixins
@mixin cover {
  width: 100%;
  height: 100%;
}

@mixin opacity {
  opacity: 50%;
  scale: 0.9;
}

@mixin textneon($color: Texto) {
  text-shadow: none;
}

@mixin buttonneon($color: Secundario) {
  background-color: var(--tema-Transparente);
  border: 2px solid var(--tema-#{$color});
}

@mixin buttonneon_amarillo {
  @include buttonneon(Amarillo);
}

