@import "carga";
@import "animaciones";
@import "cursor";
@import "variables";

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0px;
}

@mixin cover {
  width: 100%;
  height: 100%;
}

@mixin opacity {
  opacity: 50%;
  scale: 0.9;
}
body {
  background-color: $Fondo;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .alertas {
    top: 5vh;
    left: 18vw;
    width: 14vw;
    height: 4vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1001;
    .alerta {
      @include cover;
      display: none;
      justify-content: center;
      align-items: center; 
      background-color: $Resalte2;
      border: 2px solid $Resalte2;
      box-shadow: 0px 0px 10px 0px $Resalte2;
      border-radius: 5rem;
      animation: fadeInDown 0.2s ease-in-out forwards;
      span {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: .8vw;
          color: $Texto;
          text-align: center;
        }
      }
    }
  }
  .alertas_admin {
    top: 4.6vh;
    left: 7vw;
    width: 14vw;
    height: 4vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1001;
    .alerta_admin {
      @include cover;
      display: none;
      justify-content: center;
      align-items: center; 
      background-color: $Resalte2;
      border: 2px solid $Resalte2;
      box-shadow: 0px 0px 10px 0px $Resalte2;
      border-radius: 5rem;
      animation: fadeInDown 0.2s ease-in-out forwards;
      span {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: .8vw;
          color: $Texto;
          text-align: center;
        }
      }
    }
  }
  header {
    width: 20vw;
    height: 6vw;
    display: flex;
    background-color: $Secundario;
    border-radius: 5rem;
    position: fixed;
    z-index: 1000; 
    nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        .circulo_icon {
          width: 1vw;
          height: 1vw;
          background-color: $Texto;
          border-radius: 100%;
          position: fixed;
          top: 50vh;
          left: 47.8vw;
          animation: moverpuntolog 3s ease-in-out infinite;
        }
        li {
          list-style: none;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            height: 50%;
            background-color: $Transparente;
            border: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.1s ease-in-out;
            z-index: 1002;
            img {
              height: 100%;
            }
            &:hover {
              @include opacity;
            }
          }
          .iconbutton {
            height: 85%;
            &:hover {
              opacity: 100%;
              scale: 1;
            }
          }
        }
      }
    }
  }
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    .pages {
      width: 50%;
      height: 100%;
      justify-items: center;
      justify-content: center;
      align-items: center;
      align-content: center;
      overflow: hidden;
      display: none;
    }
    #home {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .mancha1 {
        width: 30%;
        display: flex;
        position: fixed;
        top: -8vh;
        left: -6vw;
        animation: fadeInDown 0.5s ease-in-out forwards;
        img {
          @include cover;
        }
      }
      .mancha2 {
        width: 30%;
        display: flex;
        position: fixed;
        bottom: -17vh;
        right: -5vw;
        animation: fadeInUp 0.5s ease-in-out forwards;
        img {
          @include cover;
        }
      }
    }
    #pag1 {
      animation: bounceInLeft 0.5s ease-in-out forwards;
      article {
        width: 90%;
        height: 80%;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .texto_form {
          width: 100%;
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          h1 {
            width: 100%;
            color: $Texto;
            text-align: center;
            font-size: 3vh;
            margin: 0;
            letter-spacing: 0.1rem;
            font-family: $Letra1;
          }

          p {
            width: 100%;
            color: $Texto;
            text-align: center;
            font-size: 2vh;
            margin: 0;
            letter-spacing: 0.1rem;
            font-family: $Letra2;
          }
        }
        .cont_form {
          width: 85%;
          height: 70%;
          border: 0;
          margin-top: 2%;
          overflow-x: hidden;
          overflow-y: scroll;
          display: flex;
          justify-content: center;
          align-items: center;
          form {
            width: 95%;
            height: 95%;
            border: 0;
            display: grid;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            grid-template-columns: repeat(2, 1fr);
            margin: 2%;
            gap: 4%;
            .input-form {
              width: 100%;
              height: 7.3vh;
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: $Letra2;
              .input {
                width: 100%;
                height: 100%;
                border-radius: 5rem;
                background-color: $Texto;
                outline: none;
                border: 0;
                text-align: center;
                transition: all 0.2s ease-in-out;
                &:focus {
                  border: 0;
                  outline: none;
                  border: 2px solid $Resalte;
                  box-shadow: 0px 0px 10px 0px $Resalte;
                  background: $Resalte;
                  color: $Texto;
                }
              }
              .input::placeholder{
                color: $Negro;
              }
              .input:focus::placeholder {
                color: $Texto;
              }
              .input:focus ~ label {
                scale: 1;
                opacity: 100%;
                transition: all 0.2s ease-in-out;
              }

              label {
                scale: 0;
                opacity: 0;
                top: 12vh;
                left: 15vw;
                width: 20vw;
                height: 4vw; 
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $Resalte2;
                transition: all 0.2s ease-in-out;
                border-radius: 5rem;
                box-shadow: 0px 0px 10px 0px $Resalte2;
                span {
                  width: 80%;
                  height: 80%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  p {
                    @include cover;
                    color: $Texto;
                    font-size: .8vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    letter-spacing: 0.1rem;
                  }
                }
              }
            }
            .input-submit {
              display: none;
            }
          }
        }
        .cont_form::-webkit-scrollbar {
          width: 12px;             
        }
        .cont_form::-webkit-scrollbar-track {
          background: $Texto;    
          border-radius: 1rem;
        }
        .cont_form::-webkit-scrollbar-thumb {
          background-color: $Fondo;  
          border-radius: 1rem;       
          border: 3px solid $Texto; 
        }
        label {
          width: 2.5vw;
          height: 2.5vw;
          margin-top: 5vh;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.1s ease-in-out;
          img {
            @include cover;
          }
          &:hover {
            @include opacity;
          }
        }
      }
    }
    #pag2 {
      animation: bounceInLeft 0.5s ease-in-out forwards;
      .Logincont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Login-cont {
          width: 20rem;
          aspect-ratio: 2/2;
          border-radius: 2rem;
          background-color: $Secundario;
          display: flex;
          justify-content: center;
          align-items: center;

          .Login-son {
            width: 100%;
            height: 100%;
            margin: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            z-index: 10;

            .formuariolog {
              width: 100%;
              height: 100%;
              padding: 5%;
              display: none;
              overflow: hidden;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              .wel {
                flex-direction: column;
                text-align: center;
                margin-bottom: 1vh;

                h3 {
                  width: 100%;
                  color: $Texto;
                  font-size: 2vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: $Letra1;

                  span {
                    color: $Texto;
                    letter-spacing: 0.1rem;
                  }
                }
              }

              .input-field {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 6%;
                width: 80%;
                height: 3.5rem;
                font-family: $Letra2;

                input::-webkit-inner-spin-button,
                input::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                }

                input[type="number"] {
                  -moz-appearance: textfield;
                }

                input {
                  width: 100%;
                  height: 100%;
                  border-radius: 5rem;
                  font-size: 17px;
                  padding: 0px 10px;
                  background-color: $Transparente;
                  color: $Texto;
                  outline: none;
                  text-align: center;
                  border: 2px solid $Texto;
                  &:focus {
                    border: 2px solid $Resalte;
                    box-shadow: 0px 0px 10px 0px $Resalte;
                    background: $Resalte;
                  }
                }

                input:focus ~ label,
                input:valid ~ label {
                  top: 0;
                  font-size: 15px;
                  padding: 0 6px;
                  background: $Principal;
                  color: $Texto;
                  border-radius: 1rem;
                  padding: 1% 3%;
                }

                label {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  color: $Texto;
                  font-size: 17px;
                  pointer-events: none;
                  transition: 0.3s;

                  span {
                    margin-left: 3px;
                  }
                }
              }
              .input-submit {
                input {
                  display: none;
                }
              }
            }

            .formuariolog.activolog {
              display: flex;
            }

            .formuariolog.animacionform {
              animation: bounceOutRight;
              animation-duration: 0.7s;
              animation-fill-mode: forwards;
            }

            .error {
              width: 65%;
              height: 100%;
              padding: 15%;
              display: none;
              overflow: hidden;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              z-index: 94;
              animation: bounceInLeft;
              animation-duration: 0.7s;
              animation-fill-mode: forwards;

              #icon {
                width: 7rem;
                height: 7rem;
                margin-bottom: 15%;
                img {
                  width: 100%;
                  height: 100%;
                }
              }

              h1 {
                width: 100%;
                text-align: center;
                font-size: 1.1vh;
                font-family: $Letra1;
                letter-spacing: 0.1rem;
                color: $Texto;
              }

              a {
                font-family: $Letra2;
                color: $Texto;
                font-size: 1.2vh;
              }
            }

            .error.activolog {
              display: flex;
            }
          }
        }
      }
      .Logincont.animacionlog {
        animation: bounceOutRight;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
    }
    #pag3 {
      @include cover;
      .btn_regreso {
        width: 2.5%;
        aspect-ratio: 2/2;
        top: 1vh;
        left: 0;
        margin: 2.5%;
        display: flex;
        position: fixed;
        transition: all 0.1s ease-in-out;
        button {
          @include cover;
          background-color: $Transparente;
          border: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            @include cover;
          }
        }
        &:hover {
          @include opacity;
        }
      }
      .estatus_vacantes {
        top: 4.6vh;
        left: 7.5vw;
        width: 13vw;
        height: 4vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        z-index: 1000;
        gap: 5%;
        .icons_status {
          width: 90%;
          height: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            display: none;
            &:checked ~ label {
              @include opacity;
              display: flex;
            }
            &:checked ~ .status_info {
              visibility: visible;
              animation: bounceInDown 0.2s ease-in-out forwards;
            }
          }
          label {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border-radius: 10rem;
            transition: all 0.2s ease-in-out;
          }
          #label_status1 {
            background-color: $Red;
          }
          #label_status2 {
            background-color: $Orange;
          }
          #label_status3 {
            background-color: $Green;
          }
          .status_info {
            position: fixed;
            display: flex;
            visibility: hidden;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            background-color: $Secundario;
            width: 15vw;
            height: 40vh;
            top: 15vh;
            border-radius: 1.5rem;
            text-align: center;
            color: $Texto;
            padding: .5vw;
            box-shadow: 0px 0px 10px 0px $Resalte2;
            .box_status {
              width: 95%;
              height: 5%;
              border-radius: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                font-size: 1.5vh;
                font-family: $Letra2;
              }
            }
            .box_status1 {
              background-color: $Red;
            }
            .box_status2 {
              background-color: $Orange;
            }
            .box_status3 {
              background-color: $Green;
            }
          }
        }
      }
      .admin_cont {
        @include cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $Letra2;
        gap: 2%;
        .cont_rechazados {
          width: 20%;
          height: 80%;
          display: flex;
          border-radius: 1.5rem;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          background-color: $Secundario; 
          margin-top: 15vh;
          gap: 1.5vh;
          .box_red {
            width: 96%;
            height: 3vh;
            margin-top: 1vh;
            background-color: $Red;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          .const_data {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            ul {
              width: 100%;
              height: 100%;
              display: flex;
              padding: 0;
              margin: 0;
              justify-content: start;
              align-items: center;
              flex-direction: column;
              gap: 1.5vh;
              .vacante_itemred {
                width: 95%;
                height: 5vh;
                display: flex;
                background-color: $Texto;
                border-radius: 1rem;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                transition: all 0.5s ease-in-out;
                overflow: hidden;
                gap: 5%;
                .vacante_info {
                  width: 90%;
                  height: 90%;
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  justify-content: space-evenly;
                  align-items: center;
                  flex-direction: column;
                  gap: 5%;
                  span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.1vh;
                    color: $Resalte;
                    strong {
                      font-size: 1.3vh;
                      color: $Resalte;
                    }
                  }
                }
                &:hover, &:active, &:focus {
                  transition: all 0.5s ease-in-out;
                  overflow-y: scroll;
                  height: auto;
                }
              }
            }
          }
        }
        .cont_aceptados {
          width: 74%;
          height: 95%;
          display: flex;
          border-radius: 1.5rem;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          background-color: $Secundario; 
          gap: 1.5vh;
          .box_green {
            width: 98%;
            height: 3vh;
            margin-top: 1vh;
            background-color: $Green;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          .const_data {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            ul {
              width: 100%;
              height: 100%;
              display: flex;
              padding: 0;
              margin: 0;
              justify-content: start;
              align-items: center;
              flex-direction: column;
              gap: 1.5vh;
              .vacante_itemgreen {
                width: 95%;
                height: 5vh;
                display: flex;
                background-color: $Texto;
                border-radius: 1rem;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5%;
                .vacante_info {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center;
                  span {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.1vh;
                    color: $Resalte;
                    strong {
                      font-size: 1.3vh;
                      color: $Resalte;
                    }
                  }
                }
              }
            }
          }
        }
      } 
    }
    aside {
      width: 50%;
      height: 100%;
      display: none;
      background-color: $Secundario;
      justify-items: center;
      align-items: center;
      article {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        div {
          width: 50%;
          margin-top: 5%;
          img {
            @include cover;
            border-radius: 2rem;
          }
        }
        h2 {
          font-family: $Letra1;
          color: $Texto;
          font-size: 3.2vh;
          letter-spacing: 0.3rem;
          text-align: center;
        }
        p {
          width: 45%;
          padding: 0;
          margin: 0;
          font-family: $Letra2;
          color: $Texto;
          font-size: 2.2vh;
          text-align: center;
        }
      }
    }
    .agregar_dis {
      display: flex;
    }
  }
  .cambiar_nav {
    top: 5vh;
    left: 18vw;
    width: 14vw;
    height: 4vw;
    nav {
      ul {
        .circulo_icon { 
          width: .8vw;
          height: .8vw;
          top: 9.3vh;
          left: 23.3vw;
        }
      }
    }
  }
  @media screen and (max-width: 900px) { 
  .alertas {
    top: 4vh;
    left: 35vw;
    width: 30vw;
    height: 10vw;
    .alerta {
      span {
        p {
          font-size: 2vw;
        }
      }
    }
  }
  .alertas_admin {
    top: 4vh;
    left: 35vw;
    width: 30vw;
    height: 10vw;
    .alerta_admin {
      span {
        p {
          font-size: 2vw;
        }
      }
    }
  }
    header {
      width: 50vw;
      height: 15vw;
      nav {
        ul {
          .circulo_icon {
            width: 3vw;
            height: 3vw;
            top: 50vh;
            left: 44vw;
          }
        }
      }
    }
    main {
      #home {
        .mancha1 {
          width: 70%;
          top: -8vh;
          left: -15vw;
        }
        .mancha2 {
          width: 70%;
          bottom: -15vh;
          right: -20vw;
        }
      }
      .pages {
        width: 100%;
      }
      #pag1 {
        article {
          width: 90%;
          height: 80%;
          margin-top: 10vh;
          .texto_form {
            h1 {
              font-size: 3vh;
              margin-bottom: 4%;
            }
  
            p {
              font-size: 1.5vh;
            }
          }
          .cont_form {
            form {
              grid-template-columns: repeat(1, 1fr);
              .input-form {
                label {
                  top: 12.5vh;
                  left: 20vw;
                  width: 60vw;
                  height: 11vw;
                  span {
                    p{
                      font-size: 2vw;
                    }
                  }
                }
              }
            }
          }
          .cont_form::-webkit-scrollbar {
            width: 12px;             
          }
          .cont_form::-webkit-scrollbar-track {
            background: $Texto;    
            border-radius: 1rem;
          }
          .cont_form::-webkit-scrollbar-thumb {
            background-color: $Fondo;  
            border-radius: 1rem;       
            border: 3px solid $Texto; 
          }
          label {
            width: 6vw;
            height: 6vw;
            margin-top: 5vh;
          }
        }
      }
      #pag2 {
        .Logincont {
          .Login-cont {
            width: 17rem;
          }
        }
      }
      #pag3 {
        .btn_regreso {
          width: 5%;
        }
        .admin_cont {
          flex-direction: column-reverse;
          gap: 3vh;
          .cont_edit {
            width: 17vw;
            height: 7vw;
            flex-direction: row;
            border-radius: .7rem;
            button {
              width: 39.5%;
              height: 80%;
              border-radius: 5rem;
            }
          }
          .cont_aceptados {
            width: 90%;
            height: 58vh;
            border-radius: 1.3rem;
            gap: 1vh;
            .box_green {
              width: 96%;
              height: 2rem;
              margin-top: 1vh;
              gap: 1vh;
            }
            .const_data {
              ul {
                gap: 1vh;
                li {
                  gap: 1vw;
                }
              }
            }
          }
          .cont_rechazados {
            width: 90%;
            height: 25vh;
            border-radius: 1.3rem;
            gap: 1vh;
            .box_red {
              width: 96%;
              height: 2rem;
              margin-top: 1vh;
              gap: 1vh;
            }
            .const_data {
              ul {
                gap: 1vh;
                li {
                  gap: 1vw;
                }
              }
            }
          }
        } 
      }
      aside {
        width: 0;
        height: 0;
        display: none;
        article {
          width: 0;
          height: 0;
          div {
            width: 0;
            height: 0;
            img {
              width: 0;
              height: 0;
            }
          }
          h2 {
            width: 0;
            height: 0;
            font-size: 0;
          }
          p {
            width: 0;
            height: 0;
            font-size: 0;
          }
        }
      }
    }
    .cambiar_nav {
      top: 4vh;
      left: 35vw;
      width: 30vw;
      height: 10vw;
      nav {
        ul {
          .circulo_icon {
            width: 2vw;
            height: 2vw;
            top: 8vh;
            left: 46vw;
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .alertas {
      top: 5vh;
      left: 25vw;
      width: 50vw;
      height: 15vw;
     .alerta {
       span {
         p {
           font-size: 3vw;
         }
       }
     }
   }
   .alertas_admin {
    top: 5vh;
    left: 25vw;
    width: 50vw;
    height: 15vw;
     .alerta_admin {
       span {
         p {
           font-size: 3vw;
         }
       }
     }
   }
    header {
      width: 65vw;
      height: 20vw;
      nav {
        ul {
          .circulo_icon {
            width: 3.3vw;
            height: 3.3vw;
            top: 50vh;
            left: 43vw;
          }
        }
      }
    }
    main {
      #home {
        .mancha1 {
          width: 90%;
          top: -8vh;
          left: -23vw;
        }
        .mancha2 {
          width: 90%;
          bottom: -13vh;
          right: -23vw;
        }
      }
      #pag1 {
        article {
          .cont_form {
            form {
              .input-form {
                label {
                  top: 10vh;
                  left: 20vw;
                  width: 60vw;
                  height: 12vw;
                  span {
                    p{
                      font-size: 3vw;
                    }
                  }
                }
              }
            }
          }
          label {
            width: 8vw;
            height: 8vw;
            margin-top: 3vh;
          }
        }
      }
      #pag3 {
        .btn_regreso {
          width: 6%;
        }
        .admin_cont {
          .cont_edit {
            width: 23vw;
            height: 10vw;
          }
        } 
      }
    }
    .cambiar_nav {
      top: 5vh;
      left: 25vw;
      width: 50vw;
      height: 15vw;
      nav {
        ul {
          .circulo_icon {
            width: 2.8vw;
            height: 2.8vw;
            top: 8.5vh;
            left: 44vw;
          }
        }
      }
    }
  }
}
